<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% books.each do |book| %>
      <tr>
        <td><%= link_to(book.user) do %>
          <%= image_tag book.user.get_profile_image, size:'50x50' %>
          <% end %>
        </td>
        <td><%= link_to book.title,book %></td>
        <td><%= book.body %></td>
        <td id="js-book_favorite_<%= book.id %>">
          <%= render "favorites/nice", book: book %>
        </td>
        <td>コメント数：<%= book.book_comments.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div>
  <h3>7日間分の投稿数</h3>
</div>
<table class='table table-bordered '>
  <div id="day">
    <% day_range = (0..6) %>
  </div>
  <thead>
    <tr>
    <% day_range.reverse_each do |n| %>
      <% if n == 0 %>
        <th>今日</th>
      <% else %>
        <th><%= n %>日前</th>
      <% end %>
    <% end %>
    </tr>
  </thead>
  <tbody>
    <tr>
    <% day_range.reverse_each do |n| %>
      <td><%= books.created_day(n).count %></td>
    <% end %>
    </tr>
  </tbody>
</table>

<!--グラフ用配列処理-->
<% count = [] %>
<% day_range.reverse_each do |n| %>
  <% count << books.created_day(n).count %>
<% end %>

<!--<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>-->
<div class="mb-3">
  <canvas id="myChart"></canvas>
</div>

<script>
  $(document).on('turbolinks:load',function(){
    const ctx = document.getElementById("myChart");
      new Chart(ctx, {
      type: 'line', //チャートの表示形式
      data: {
        labels: ["6日前", "5日前", "4日前", "3日前", "2日前", "1日前", "今日"],
         datasets: [{
           label: "投稿した本の数",
           data: [<%= books.created_day(6).count %>,
           <%= books.created_day(5).count %>,
           <%= books.created_day(4).count %>,
           <%= books.created_day(3).count %>,
           <%= books.created_day(2).count %>,
           <%= books.created_day(1).count %>,
           <%= books.created_day(0).count %>],
          borderColor: "rgba(0,0,255,1)",
          lineTension: 0.5 //線の丸みを指定。0で直線
         }],
      },//dataはここまで
      options: {
        title: {
          display: true,
          text: '7日間の投稿数の比較'
        },
        responsive: true,
        scales: {
          y: {
            suggestedMin: 0,
            suggestedMax: 10,
            ticks: {
              stepSize: 1,
            }
          }
        }
      }
    });
  });
</script>

<script>
  var chart
  $(document).on ('turbolinks:load', function(){
    const ctx = document.getElementById("myChart");
    if ( chart ){ chart.destroy(); }
    chart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: ["6日前", "5日前", "4日前", "3日前", "2日前", "1日前", "今日"],
        datasets: [{label: "投稿した本の数",data: <%= count %>,borderColor: "rgba(0,0,255,1)",lineTension: 0.5}]
      },
      options: {scales: {y: {suggestedMin: 0,suggestedMax: 10,ticks: {stepSize: 1}}}},
    })
  });
</script>

<div>
  <h3>投稿数の前日比・前週比</h3>
</div>
<table class='table'>
  <thead>
    <tr>
      <th>本日の投稿数</th>
      <th>前日の投稿数</th>
      <th>前日比</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= books.created_day(0).count %></td>
      <td><%= books.created_day(1).count %></td>
      <% if book_count_yesterday.zero? || book_count_today.zero? %>
        <% percentage = 0 %>
      <% else %>
        <% percentage = (book_count_today / book_count_yesterday)*100 %>
      <% end %>
      <td><%= number_to_percentage(percentage, precision: 0)%></td>
    </tr>
  </tbody>
</table>
<table class='table'>
  <thead>
    <tr>
      <th>今週の投稿数</th>
      <th>前週の投稿数</th>
      <th>前週比</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= book_count_current_week %></td>
      <td><%= book_count_last_week %></td>
      <% if book_count_last_week.zero? || book_count_current_week.zero? %>
        <% percentage = 0 %>
      <% else %>
        <% percentage = (book_count_current_week / book_count_last_week)*100 %>
      <% end %>
      <td><%= number_to_percentage(percentage, precision: 0)%></td>
    </tr>
  </tbody>
</table>